.n-contaiter {
    color: white;
    overflow: hidden;
}

.n-contaiter .left {
	height: 86.4vh;
    width: 57%;
    background-color: #383c58;
    padding: 0.925925925925926vh;
    float: left;
    margin-top: 1px;
}

.n-contaiter .left #page {
    color: #333 !important;
    margin-top: 1px;
}

.n-contaiter .right {
    width: 42%;
    float: left;
    margin-left: 0.6070833333333334vw;
    margin-top: 1px;
}

.n-contaiter .right .right-top ul {
    overflow: hidden;
    margin-right: -4.6875vw;
}

.n-contaiter .right .right-top ul li {
    width: 30%;
    float: left;
    height: 17.037037037037038vh;
    background-color: #383c58;
    margin-right: 0.2875vw;
    position: relative;
}

.n-contaiter .right .right-top ul li img {
    position: absolute;
    bottom: 7.870370370370371vh;
    left: 4.346838vw;
    width: 5.9259259259259265vh;
    height: 7.407407407407408vh;
    transform-origin: 84.5% 86.5%;
}

.n-contaiter .right .right-top ul li h3 {
    margin-top: 10.648148148148149vh;
    font-size: 2.777777777777778vh;
}

.n-contaiter .right .right-top ul li p {
    font-size: 1.1111111111111112vh;
    margin-top: 0.925925925925926vh;
}

.n-contaiter .right .right-top ul li h3,
.n-contaiter .right .right-top ul li p {
    text-align: center;
    color: #0DDA8B;
}

.n-contaiter .right .right-top ul .on h3,
.n-contaiter .right .right-top ul .on p {
    color: #E3004E;
}

.n-contaiter .right .right-center {
    margin-top: 1px;
    width: 104%;
    height: 70.277778vh;
    background-color: #383c58;
    padding: 0.925925925925926vh;
    position: relative;
}

.n-contaiter .right .right-center h3 {
    font-size: 1.6666666666666667vh;
}

.n-contaiter .right .right-center .map {
    width: 40.76041666666667vw;
    height: 57.89814814814815vh;
    margin: 3.703703703703704vh auto 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

.n-contaiter .n-form li {
    margin: 1.851851851851852vh;
}

.n-contaiter .n-form label {
    font-weight: normal;
    font-size: 1.851851851851852vh;
    display: inline-block;
    width: 5.729166666666667vw;
    text-align: right;
}

.n-contaiter .n-form input,
.n-contaiter .n-form select {
    display: inline-block;
    width: 8.333333333333334vw;
    font-size: 1.851851851851852vh;
    height: 3.1481481481481484vh;
    color: white;
    padding: 0 0.5208333333333334vw;
    background-color: #54567a;
    border: 0;
    border-radius: 0.7407407407407408vh;
    outline: none;
    margin-right: 0.5208333333333334vw;
}

.n-contaiter .n-form input {
    width: 14.0625vw;
}

.m-table tbody tr:nth-child(even) {
    background-color: #383c58;
}